<div ng-controller="WorkflowCatalogController">
         
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-heading" style="height: 50px">
                <div id="left" class="m-b col-md-6">
                    <h1>Workflow Catalog</h1>
                </div>
            </div>
        </div>
    </div>
    
	<!-- <div class="col-sm-6 col-lg-6 col-md-6">
	    <div class="ibox float-e-margins">
	        <div class="input-group m-b" style="width: 100%;">
	             <p>{{url}}</p>
	        </div>
	    </div>
	</div> -->
           
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Buckets</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="bucket in buckets"
                                ng-class="($index==selectedBucketIndex)?'active':''"
                                ng-click="selectBucket($index)">
                                <td>{{bucket.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                 
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
		    <div>
	            <div class="col-sm-1 col-lg-1 col-md-1">
	                <div class="ibox float-e-margins">
	                    <button class="fa fa-trash" data-toggle="modal" data-target="#confirmDeleteModal"></button>
	                </div>
	            </div>
	            <div class="col-lg-offset-1 col-sm-1 col-lg-1 col-md-1">
	                <div class="ibox float-e-margins">
	                    <button class="fa fa-download"
	                        ng-click="exportSelectedWorkflows();"></button>
	                </div>
	            </div>
	            <div class="col-lg-offset-1 col-sm-1 col-lg-1 col-md-1">
	                <div class="ibox float-e-margins">
	                    <button class="fa fa-upload" data-toggle="modal" data-target="#zipUploadModal"></button>
	                </div>
	            </div>
		    </div>
            <div class="ibox float-e-margins">
                <div class="ibox-content" style="overflow: auto; height: 60vh;">
                    <div ng-repeat="groupedWorkflows in workflows | filter:query | groupBy: 'project_name'| toArray:true | orderBy:'$key'">
                        <div class="row">
	                        <h3>{{groupedWorkflows.$key}}</h3>
		                    <div class="col-sm-2 col-md-2 col-lg-2" ng-repeat="workflow in groupedWorkflows">
		                        <div class="panel" ng-class="getPanelStatus(workflow)"
		                            ng-click="selectWorkflow(workflow, $event)">
		                            <div class="panel-heading" style="height: 60px; font-size: 10px;">{{workflow.name}}</div>
		                            <div class="panel-body" style="height: 70px;">
		                                <img src="{{workflow.icon}}"
		                                    alt="{{workflow.name}}"
		                                    style="max-width: 100%; max-height: 100%;" />
		                            </div>
		                        </div>
		                    </div>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="panel">
                        <div class="panel-heading">
                            <h2>Description</h2>
                        </div>
                        <div class="panel-body" ng-if="selectedWorkflows.length > 0">
                            <p>
                                <b>Name:</b> {{selectedWorkflows[selectedWorkflows.length - 1].name}}<br>
                                <b>Project Name:</b> {{selectedWorkflows[selectedWorkflows.length - 1].project_name}}<br>
                                <b>Latest Update:</b> {{selectedWorkflows[selectedWorkflows.length - 1].commit_time}}
                            </p>
                            <p>
                                <b>Generic Info: </b>
	                            <table style="border-collapse: separate; border-spacing: 10px;"
	                                ng-if="selectedWorkflows[selectedWorkflows.length - 1].gis.length > 0">
	                                <tr ng-repeat="gi in selectedWorkflows[selectedWorkflows.length - 1].gis">
	                                    <td style="vertical-align: top;">{{gi.key}}</td>
	                                    <td style="vertical-align: top;">{{gi.value}}</td>
	                                </tr>
	                            </table>
                            </p>
                            <p>
                                <b>Default Variables: </b>
	                            <table style="border-collapse: separate; border-spacing: 10px;"
	                                ng-if="selectedWorkflows[selectedWorkflows.length - 1].variables.length > 0">
	                                <tr ng-repeat="variable in selectedWorkflows[selectedWorkflows.length - 1].variables">
	                                    <td class="align-text-top" style="vertical-align: top;">{{variable.key}}</td>
	                                    <td style="vertical-align: top;">{{variable.value}}</td>
	                                </tr>
	                            </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="zipUploadModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload a ZIP archive of workflows</h4>
                </div>
                <div class="modal-body">
                    <p>Please choose a ZIP archive containing workflows.</p>
                    <input type="file" id="zipArchiveInput">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" ng-click="uploadArchiveOfWorkflows()">Upload</button>
                </div>
            </div>
        </div>
    </div>

    <div id="confirmDeleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete the selected Workflows from current Bucket</h4>
                </div>
                <div class="modal-body">
                    <p>Warning! You are going to delete the selected Workflows. This step can not be reversed. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" ng-click="deleteSelectedWorkflows()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>