<div ng-controller="WorkflowCatalogController">
	       
	<div class="ibox float-e-margins">
		<div class="ibox-heading" style="height: 50px">
			<div id="left" class="m-b col-md-6">
				<h1>Workflow Catalog</h1>
			</div>
		</div>
	</div>

	<div class="ibox float-e-margins">
		<div class="input-group m-b col-sm-6">
			<form ng-submit="goToUrl()">
				<input type="text" class="form-control" ng-model="url">
			</form>
		</div>
	</div>
	       
	<div class="row">
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Buckets</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="bucket in buckets"
								ng-class="($index==selectedBucketIndex)?'active':''"
								ng-click="selectBucket($index)">
								<td>{{bucket.name}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			     
		</div>
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-content" style="overflow: auto;">
					<div class="col-sm-3" ng-repeat="workflow in workflows">
						<div class="panel"
							ng-class="(workflow.name==selectedWorkflow.name)?'panel-selected':'panel-default'"
							ng-click="selectWorkflow(workflow.name)">
							<div class="panel-heading" style="height: 70px;">{{workflow.name}}</div>
							<div class="panel-body">
								<img src="/studio/images/about_115.png" alt="{{workflow.name}}"
									style="max-width: 100%; max-height: 100%;" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="panel">
						<div class="panel-heading">
							<h2>Description</h2>
						</div>
						<div class="panel-body">
							<p>
								<b>Name:</b> {{selectedWorkflow.name}}<br>
								<b>Project Name:</b> {{selectedWorkflow.project_name}}<br>
								<b>Latest Update:</b> {{selectedWorkflow.commit_time}}
							</p>
							<p>
								<b>Generic Info: </b><br>
								<table style="border-collapse: separate;border-spacing: 10px;" ng-if="selectedWorkflow.gis.length > 0">
									<tr ng-repeat="gi in selectedWorkflow.gis">
										<td style="vertical-align: top;">{{gi.key}}</td>
										<td style="vertical-align: top;">{{gi.value}}</td>
									</tr>
								</table>
							</p>
							<p>
								<b>Default Variables: </b><br>
								<table style="border-collapse: separate;border-spacing: 10px;" ng-if="selectedWorkflow.variables.length > 0">
									<tr ng-repeat="variable in selectedWorkflow.variables">
										<td class="align-text-top" style="vertical-align: top;">{{variable.key}}</td>
										<td style="vertical-align: top;">{{variable.value}}</td>
									</tr>
								</table>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>