<div class="inmodal" ng-controller="PCACatalogController">
    <div class="modal-header">
        <i class="fa fa-laptop modal-icon"></i>
        <p class="modal-title">{{workflow.name}} </p>
        <small class="font-bold">{{workflow.project_name}}</small>
    </div>
    <div class="modal-body" ng-repeat="variable in workflow.variables track by $index">
        <div class="form-group">
        
            <label class="col-sm-6 control-label">{{variable.key}}</label>
            
            <div class="col-sm-6" ng-if="workflow.variables[$index].value.startsWith('#{')">
                {{variablesWithoutSpecialCharacters=workflow.variables[$index].value.substring(2, workflow.variables[$index].value.length - 1);""}}
                <select class="form-control" ng-model="workflow.newvariables[variable.key].value" ng-options="v for v in variablesWithoutSpecialCharacters.split(',') track by v">
             
				</select>
            </div>
            
            <div class="col-sm-6" ng-if="workflow.variables[$index].value.startsWith('${')">
                <select class="form-control" ng-model="workflow.newvariables[variable.key].value" ng-options="v for v in listOfNS() track by v">
             
				</select>
            </div>
            
            <div class="col-sm-6" ng-if="!workflow.variables[$index].value.startsWith('#{') && !workflow.variables[$index].value.startsWith('${')">
                <input class="form-control" type="text" ng-model="workflow.variables[$index].value">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="ok(workflow)">Submit</button>
    </div>
</div>
